@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* General Styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6f2aa8+65,2c2ca5+100&1+0,0.8+100 */
  background: -moz-linear-gradient(top, #6f2aa8 0%, rgba(111, 42, 168, 0.87) 65%, rgba(44, 44, 165, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6f2aa8 0%, rgba(111, 42, 168, 0.87) 65%, rgba(44, 44, 165, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6f2aa8 0%, rgba(111, 42, 168, 0.87) 65%, rgba(44, 44, 165, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#6f2aa8", endColorstr="#cc2c2ca5",GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-card {
  width: 600px;
  max-width: 85%;
  background-color: white;
  padding: 2rem;
  margin: 15rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #787887;
}

@media only screen and (min-width: 600px) {
  .faq-card {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
  }
}
.image-container {
  width: 100%;
  margin-top: -12rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: center bottom 1rem;
}

@media only screen and (min-width: 600px) {
  .image-container {
    margin: 0;
    margin: -2rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left -2rem;
    overflow: hidden;
    width: 100%;
  }
}
.faq-image {
  max-width: 100%;
  margin-left: -1.5rem;
}

@media only screen and (min-width: 600px) {
  .faq-image {
    margin: 0;
    margin-left: -4rem;
  }
}
.faq-box-image {
  display: none;
}

@media only screen and (min-width: 600px) {
  .faq-box-image {
    display: block;
    width: 10rem;
    position: absolute;
    top: 10rem;
    left: -5rem;
  }
}
.faq-questions {
  width: 100%;
  margin-top: 1rem;
}
.faq-questions .title {
  color: black;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .faq-questions {
    margin: 0;
    margin-left: 2rem;
  }
}
.faq-question {
  border-bottom: 1px solid #e7e7e9;
}

.question {
  display: flex;
  justify-content: space-between;
  color: #4a4b5e;
  font-weight: 700;
}
.question:hover {
  cursor: pointer;
}
.question .faq-arrow-icon {
  transition: 0.5s transform;
}
.question:active {
  color: #f47c57;
}

.answer {
  width: 95%;
  font-size: 1.2rem;
}

.show {
  display: inline-block;
}

.hiden {
  display: none;
}

.rotate {
  transform: rotate(-180deg);
}

/*# sourceMappingURL=styles.css.map */
